@model WoWJunkyard.Data.Models.Character

@{
    ViewData["Title"] = "Character";
}

<script>var whTooltips = { colorLinks: true, iconizeLinks: true,iconSize: 'large', renameLinks: true, dropchance: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>

<h1>Character</h1>
<div>
    <a asp-action="CharactersList" asp-controller="Character" class="btn btn-outline-info text-white">Back to List</a>
</div>
<div>
    <h4>CharacterInputModel</h4>
    <hr />
    <div class="row" style='background: url(@Url.Content("https://render-eu.worldofwarcraft.com/character/kazzak/180/173030068-main.jpg")) no-repeat -202px -169px; background-position: center;background-size: cover;'>
        <div class="col-4">
            <ul>
                @foreach (var item in Model.Items.ItemInfos)
                {
                    <li>
                        <a href="https://www.wowhead.com/item=@item.Id&bonus=@string.Join(':', item.BonusLists)"
                           data-wowhead="@item.Id">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-4">
            <ul>
                    @foreach (var item in Model.Items.ItemInfos)
                    {
                        <li>
                            <a href="https://www.wowhead.com/item=@item.Id&bonus=@string.Join(':', item.BonusLists)"
                               data-wowhead="@item.Id">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        <div class="col-4">
            <ul>
                @foreach (var item in Model.Items.ItemInfos)
                {
                    <li>
                        <a href="https://www.wowhead.com/item=@item.Id&bonus=@string.Join(':', item.BonusLists)"
                           data-wowhead="@item.Id">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



