@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WoWJunkyard.Views.Models.Lists
@model IEnumerable<WoWJunkyard.Views.Models.CharacterListViewModel>

@{
    ViewData["Title"] = "Characters";
    var row = 0;
}

<h1>Characters</h1>

<form asp-action="CharactersList" method="get">
    <div class="form-row">
        <div class="form-group col-auto">
            <select name="realm" asp-items="@ViewBag.Realms" class="form-control form-control-sm">
                <option>Realm</option>
            </select>
        </div>
        <div class="form-group col-auto">
            <input type="text" class="form-control form-control-sm" name="characterName" value="@ViewData["characterName"]" id="name" placeholder="Character">
        </div>
        <div class="form-group col-auto">
            <input type="submit" value="Search" class="btn btn-warning mx-auto" />
        </div>
    </div>
</form>

@if (Model.Any())
{
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                test
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                Character Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievementPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faction)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            row++;
            var race = ViewBag.Races[item.Race];
            var classes = ViewBag.Classes[item.Class];
            <tr>
                <td>
                    @Html.Raw(row)
                </td>
                <td style="padding:6px 0 0 0">
                    <img src="@Url.Content("https://render-eu.worldofwarcraft.com/character/" + item.Thumbnail)" alt="" style="height: 30px;">
                </td>
                <td>
                    @classes
                </td>
                <td>
                    <a asp-area="" asp-controller="Character" asp-route-id="@item.Id" asp-action="Character">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Realm)
                </td>
                <td>
                    @race
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AchievementPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faction)
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="text-warning text-center" style="font-size: 2em">
        No results
    </div>
}
