@model WoWJunkyard.Models.Character.Character

@{
    ViewData["Title"] = "Character";
    var backgroundImage = Model.Thumbnail.Replace("avatar", "main");
}

<script>var whTooltips = { colorLinks: true, iconizeLinks: true, iconSize: 'large', renameLinks: true, dropchance: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>

<div class="text-center class-@Model.Class character-title">@Model.Name</div>


<div>
<h4>CharacterInputModel</h4>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn btn-outline-warning" href="#">Mythic Plus Progress</a>
    </li>
</ul>
    <hr>
<div class="row" style='padding-bottom: 20px;background: url(@Url.Content("https://render-eu.worldofwarcraft.com/character/" + backgroundImage)) no-repeat -202px -169px; background-position: center;background-size: cover;'>
        <div class="col-4">
            <ul>
                <li>
                    @{
                        var head = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Head");
                    }
                    @if (head != null)
                    {
                        <a href="https://www.wowhead.com/item=@head.Item.ItemIdNumber&bonus=@string.Join(':', head.Bonus)"
                           data-wowhead="@head.Item.ItemIdNumber">@head.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 1212px;"></div>
                    }

                </li>
                <li>
                    @{
                        var neck = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Neck");
                    }
                    @if (neck != null)
                    {
                        <a href="https://www.wowhead.com/item=@neck.Item.ItemIdNumber&bonus=@string.Join(':', neck.Bonus)"
                           data-wowhead="@neck.Item.ItemIdNumber">@neck.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 1137px;"></div>
                    }
                </li>
                <li>
                    @{
                        var shoulders = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Shoulders");
                    }
                    @if (shoulders != null)
                    {
                        <a href="https://www.wowhead.com/item=@shoulders.Item.ItemIdNumber&bonus=@string.Join(':', shoulders.Bonus)"
                           data-wowhead="@shoulders.Item.ItemIdNumber">@shoulders.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 1065px;"></div>
                    }
                </li>
                <li>
                    @{
                        var back = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Back");
                    }
                    @if (back != null)
                    {
                        <a href="https://www.wowhead.com/item=@back.Item.ItemIdNumber&bonus=@string.Join(':', back.Bonus)"
                           data-wowhead="@back.Item.ItemIdNumber">@back.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 997px;"></div>
                    }
                </li>
                <li>
                    @{
                        var chest = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Chest");
                    }
                    @if (chest != null)
                    {
                        <a href="https://www.wowhead.com/item=@chest.Item.ItemIdNumber&bonus=@string.Join(':', chest.Bonus)"
                           data-wowhead="@chest.Item.ItemIdNumber">@chest.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 926px;"></div>
                    }
                </li>
                <li>
                    @{
                        var shirt = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Shirt");
                    }
                    @if (shirt != null)
                    {
                        <a href="https://www.wowhead.com/item=@shirt.Item.ItemIdNumber&bonus=@string.Join(':', shirt.Bonus)"
                           data-wowhead="@shirt.Item.ItemIdNumber">@shirt.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 856px;"></div>
                    }
                </li>
                <li>
                    @{
                        var tabard = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Tabard");
                    }
                    @if (tabard != null)
                    {
                        <a href="https://www.wowhead.com/item=@tabard.Item.ItemIdNumber&bonus=@string.Join(':', tabard.Bonus)"
                           data-wowhead="@tabard.Item.ItemIdNumber">@tabard.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 854px;"></div>
                    }
                </li>
                <li>
                    @{
                        var wrist = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Wrist");
                    }
                    @if (wrist != null)
                    {
                        <a href="https://www.wowhead.com/item=@wrist.Item.ItemIdNumber&bonus=@string.Join(':', wrist.Bonus)"
                           data-wowhead="@wrist.Item.ItemIdNumber">@wrist.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 781px;"></div>
                    }
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul style="display: flex; position: relative; top: 480px; margin: 0 auto; max-width: 145px;" >
                <li>
                    @{
                        var mh = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Main Hand");
                    }
                    @if (mh != null)
                    {
                        <a style="text-align: right" href="https://www.wowhead.com/item=@mh.Item.ItemIdNumber&bonus=@string.Join(':', mh.Bonus)"
                           data-wowhead="@mh.Item.ItemIdNumber">@mh.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 285px;"></div>
                    }

                </li>
                <li>
                    @{
                        var of = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Off Hand");
                    }
                    @if (of != null)
                    {
                        <a href="https://www.wowhead.com/item=@of.Item.ItemIdNumber&bonus=@string.Join(':', of.Bonus)"
                           data-wowhead="@of.Item.ItemIdNumber">@of.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 214px;"></div>
                    }
                </li>
            </ul>
        </div>
        <div class="col-4" id="right-items" >
            <ul class="float-right">
                <li>
                    @{
                        var hands = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Hands");
                    }
                    @if (hands != null)
                    {
                        <a style="text-align: right" href="https://www.wowhead.com/item=@hands.Item.ItemIdNumber&bonus=@string.Join(':', hands.Bonus)"
                           data-wowhead="@hands.Item.ItemIdNumber">@hands.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 712px;"></div>
                    }

                </li>
                <li>
                    @{
                        var waist = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Waist");
                    }
                    @if (waist != null)
                    {
                        <a href="https://www.wowhead.com/item=@waist.Item.ItemIdNumber&bonus=@string.Join(':', waist.Bonus)"
                           data-wowhead="@waist.Item.ItemIdNumber">@waist.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 641px;"></div>
                    }
                </li>
                <li>
                    @{
                        var legs = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Legs");
                    }
                    @if (legs != null)
                    {
                        <a href="https://www.wowhead.com/item=@legs.Item.ItemIdNumber&bonus=@string.Join(':', legs.Bonus)"
                           data-wowhead="@legs.Item.ItemIdNumber">@legs.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 570px;"></div>
                    }
                </li>
                <li>
                    @{
                        var feet = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Feet");
                    }
                    @if (feet != null)
                    {
                        <a href="https://www.wowhead.com/item=@feet.Item.ItemIdNumber&bonus=@string.Join(':', feet.Bonus)"
                           data-wowhead="@feet.Item.ItemIdNumber">@feet.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 501px;"></div>
                    }
                </li>
                <li>
                    @{
                        var ring1 = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Ring 1");
                    }
                    @if (ring1 != null)
                    {
                        <a href="https://www.wowhead.com/item=@ring1.Item.ItemIdNumber&bonus=@string.Join(':', ring1.Bonus)"
                           data-wowhead="@ring1.Item.ItemIdNumber">@ring1.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 428px;"></div>
                    }
                </li>
                <li>
                    @{
                        var ring2 = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Ring 2");
                    }
                    @if (ring2 != null)
                    {
                        <a href="https://www.wowhead.com/item=@ring2.Item.ItemIdNumber&bonus=@string.Join(':', ring2.Bonus)"
                           data-wowhead="@ring2.Item.ItemIdNumber">@ring2.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 428px;"></div>
                    }
                </li>
                <li>
                    @{
                        var trinket1 = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Trinket 1");
                    }
                    @if (trinket1 != null)
                    {
                        <a href="https://www.wowhead.com/item=@trinket1.Item.ItemIdNumber&bonus=@string.Join(':', trinket1.Bonus)"
                           data-wowhead="@trinket1.Item.ItemIdNumber">@trinket1.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 356px;"></div>
                    }
                </li>
                <li>
                    @{
                        var trinket2 = Model.EquippedItems.FirstOrDefault(x => x.Slot.Name == "Trinket 2");
                    }
                    @if (trinket2 != null)
                    {
                        <a href="https://www.wowhead.com/item=@trinket2.Item.ItemIdNumber&bonus=@string.Join(':', trinket2.Bonus)"
                           data-wowhead="@trinket2.Item.ItemIdNumber">@trinket2.Name</a>
                    }
                    else
                    {
                        <div class="items-icons" style="background-position: 0 356px;"></div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var timer = setInterval(myFunction, 100);

        function myFunction() {

            var allItems = $("li a span");

            if (allItems.length > 0) {
                for (var i = 0; i < allItems.length; i++) {
                    if (i % 2 !== 0) {
                        $(allItems.eq(i)).addClass("item-tooltip");
                    }
                }

                //clearInterval(timer);
                return;
            }

            // ONLY FOR RIGHT ITEMS
            //var rightItems = $("#right-items a span");
            

            //if (rightItems.length > 0) {
            //    for (var i = 0; i < rightItems.length; i++) {
            //        if (i % 2 !== 0) {
            //            $(rightItems.eq(i)).insertBefore($(rightItems.eq(i)).prev());
            //            $(rightItems.eq(i)).addClass("item-tooltip");
            //        }
            //    }

            //    clearInterval(timer);
            //    return;
            //}
        }
    </script>
}

