@model WoWJunkyard.Models.Character.Character

@{
    ViewData["Title"] = "MythicPlus";
}

<h1>MythicPlus</h1>

<div>
    <h4>Character</h4>
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link btn btn-outline-warning" asp-area="" asp-controller="Character" asp-route-id="@Model.Id" asp-route-characterName="@Model.Name" asp-route-realm="@Model.Realm" asp-action="Character">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-warning" href="#">Mythic Plus Progress</a>
        </li>
    </ul>
    <hr />
    @if (Model.Dungeons.Count > 0)
    {
<div class="row">
    @foreach (var dungeon in Model.Dungeons)
    {
        double ticks = double.Parse(dungeon.Duration.ToString());
        TimeSpan time = TimeSpan.FromMilliseconds(ticks);
        DateTime startdate = new DateTime(1970, 1, 1) + time;
        var completedOnTime = dungeon.IsCompletedWithinTime == true ? "Yes" : "No";

        <div class="col-sm-6" style="height: 225px;">
            <div style="background-image: url(/img/dungeons/@(dungeon.DungeonId).jpg); max-width: 450px; width: 100%;" alt="">
                <div class="Chakram Chakram--small MythicKeystoneDungeon-level Chakram--textLarge" style="">
                    <div class="Chakram-text">@dungeon.KeystoneLevel</div>
                </div>
                <div style="margin-right: 0;margin-left: 0; height: 70px;">
                    <span style="font-size: 0.90rem;">
                        Dungeon name: @dungeon.DungeonName
                    </span>
                    <br />
                    <span style="font-size: 0.90rem;">Duration: @(startdate.Minute):@(startdate.Second)</span>
                    <br />
                    <span style="font-size: 0.90rem;">Completed on time: @completedOnTime</span>
                </div>
            </div>
        </div>
    }
</div>
    }
    else{
    <div class="text-warning text-center" style="font-size: 2em">
        No Mythic Plus Progress
    </div>
    }
        
</div>
