@model WoWJunkyard.Models.News.News

@{
    ViewData["Title"] = "Details";
    var image = Model.Image.Replace('\\', '/');
}

<script>var whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true, dropchance: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>

<h1>Details</h1>

<div>
    <h4>News</h4>
<div class="row mb-2">
    <div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        }
    </div>
</div>

    <div class="row news-details">
        <div class="col-sm-12 guide-header" style="background-image: url('https://localhost:44365/@image');">
            <div class="col-sm-6 text-white font-weight-bold news-text-title">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="col-sm-6">
                <span class="align-middle text-justify" style="display: table-cell;">
                    Posted on : @Html.DisplayFor(model => model.PostedOn)
                </span>
            </div>
        </div>

        <div class="col-sm-12 news-text">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>



